
.icon-forward:before { content: '\e800'; } /* '' */
.icon-collond:before { content: '\e801'; } /* '' */
.icon-record:before { content: '\e802'; } /* '' */
.icon-collon:before { content: '\e803'; } /* '' */
.icon-glyphd:before { content: '\e804'; } /* '' */